<div  class="main-button-red" >

    <a  id="floater" href="{% url 'ordernow'%}"> درخواست مشاوره</a>


</div>


<style>#floater  {
    position: absolute;
    top: 450px;
    right: 120px;
    width: 180px;
    height: 50px;
    -webkit-transition: all 2s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 100000;

    text-align: center;

    

    font-size: 18px;
    color: #fff;
    background-color: #a12c2f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    
}

</style>
<script>


$(window).scroll(function() {
    var winScrollTop = $(window).scrollTop();
    var winHeight = $(window).height();
    var floaterHeight = $('#floater').outerHeight(true);
    
    var top = winScrollTop + winHeight - floaterHeight -4800+160;
     if (top > 665){
	 $('#floater').css({'top': top +500+ 'px' ,'right': '10px','width': '180px', });
    }
    else{
      
        $('#floater').css({
            top: '450px',
             'right': '120px',
             'width': '180px',
                'height': '50px' });

    }

});
</script>


